In [1]:
import _utils.helper as hlp
import pandas as pd
import numpy as np

h_params = {}
h_params['max_word'] = 30000

data_reviews = hlp.load('./imported_data/all_genres_preprocessed_' + str(h_params['max_word']))
df_reviews = data_reviews['df']
tokenizer = data_reviews['tokenizer']

df_tmp_spoiler = df_reviews.loc[df_reviews['is_spoiler'] == 1]
df_tmp_notspoiler = df_reviews.loc[df_reviews['is_spoiler'] == 0]

In [2]:
df_tmp_notspoiler = df_tmp_notspoiler[:df_tmp_spoiler.is_spoiler.count()]

In [3]:
df_tmp_spoiler

        post_id                                           sequence  is_spoiler
0       1000000  [7, 80, 401, 242, 2144, 1770, 395, 2, 506, 33,...           1
1       1000001  [1, 2144, 1770, 6, 197, 3, 737, 28, 4, 1, 82, ...           1
2       1000002  [8, 273, 10, 11, 18, 6, 1, 88, 49, 132, 541, 2...           1
3       1000003  [360, 46, 23, 909, 143, 11, 18, 38, 71, 140, 3...           1
4       1000004  [30, 1, 378, 4, 11, 1940, 12, 6, 3, 340, 2, 13...           1
...         ...                                                ...         ...
573633  1573633  [231, 52, 6, 747, 197, 5355, 531, 5, 26, 175, ...           1
573634  1573634  [1, 18, 197, 3, 737, 38, 11138, 4, 1746, 681, ...           1
573635  1573635  [11, 12, 6, 3, 1487, 825, 30, 295, 5, 26, 1746...           1
573636  1573636  [8, 206, 11, 12, 220, 3, 242, 773, 360, 9, 528...           1
573637  1573637  [47, 19, 564, 560, 108, 909, 39, 11, 18, 125, ...           1

[150924 rows x 3 columns]

In [4]:
df_tmp_notspoiler

        post_id                                           sequence  is_spoiler
956     1000956  [135, 87, 8, 177, 5, 869, 1, 1382, 21, 1, 2144...           0
957     1000957  [65, 339, 731, 1497, 164, 15, 721, 5533, 72, 8...           0
958     1000958  [11, 12, 6, 20, 124, 1822, 339, 585, 9, 38, 3,...           0
959     1000959  [146, 295, 5, 580, 19, 338, 11, 6, 1, 211, 18,...           0
960     1000960  [1, 2144, 1770, 6, 395, 2, 506, 33, 1328, 6421...           0
...         ...                                                ...         ...
211357  1211357  [838, 29, 1208, 1191, 2, 20, 3, 41, 1191, 433,...           0
211358  1211358  [3, 180, 14290, 5, 1, 85, 37, 103, 1, 854, 15,...           0
211359  1211359  [9, 6, 54, 3, 1084, 34, 71, 28, 4, 1, 575, 12,...           0
211360  1211360  [8, 71, 50, 281, 1924, 15, 11, 12, 50, 281, 19...           0
211361  1211361  [7, 22, 6689, 4046, 35, 205, 9032, 2081, 2988,...           0

[150924 rows x 3 columns]

In [5]:
df_tmp_spoiler.append(df_tmp_notspoiler)

        post_id                                           sequence  is_spoiler
0       1000000  [7, 80, 401, 242, 2144, 1770, 395, 2, 506, 33,...           1
1       1000001  [1, 2144, 1770, 6, 197, 3, 737, 28, 4, 1, 82, ...           1
2       1000002  [8, 273, 10, 11, 18, 6, 1, 88, 49, 132, 541, 2...           1
3       1000003  [360, 46, 23, 909, 143, 11, 18, 38, 71, 140, 3...           1
4       1000004  [30, 1, 378, 4, 11, 1940, 12, 6, 3, 340, 2, 13...           1
...         ...                                                ...         ...
211357  1211357  [838, 29, 1208, 1191, 2, 20, 3, 41, 1191, 433,...           0
211358  1211358  [3, 180, 14290, 5, 1, 85, 37, 103, 1, 854, 15,...           0
211359  1211359  [9, 6, 54, 3, 1084, 34, 71, 28, 4, 1, 575, 12,...           0
211360  1211360  [8, 71, 50, 281, 1924, 15, 11, 12, 50, 281, 19...           0
211361  1211361  [7, 22, 6689, 4046, 35, 205, 9032, 2081, 2988,...           0

[301848 rows x 3 columns]

In [6]:
from os.path import join
savedf = df_tmp_spoiler.append(df_tmp_notspoiler)
filetosave = {}
filetosave['df'] = savedf
filetosave['tokenizer'] = tokenizer

hlp.save(filetosave,
join('./imported_data', 'all_genres_preprocessed_' + str(h_params['max_word'])+'_balanced'))